@model Restaurant

@*
    
*@
@{

}

<div>
    <p>Location: @Model.Address</p>
    <p>Review: @Model.Reviews</p> @*Wont work since model reviews has nothing. ReviewControlle1 is the one that shows review. *@

</div>
