@model IEnumerable<Review>



@{
}
@*For the way we did this we need a new tab for it. Review *@

@foreach(Review review in Model){
  //  <p>Restaurants: @review.RestaurantName </p> need help to make this work
    <p>Restaurants: @review.RestaurantId </p>
    <span>Name: @review.Name</span>
    <br>
    <p>Review: @review.Content</p>
    
}